html {
    overflow-x: hidden;
}
.z-100{
    z-index: 100;
}
.z-50{
    z-index: 50;
}
.z-30{
    z-index: 30;
}
.z-20{
    z-index: 20;
}
.z-10{
    z-index: 10;
}
.z-5{
    z-index: 5;
}
.round{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 3px solid #999999;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.2s
}
.round:hover{
    border-radius: 30%;
    border: 3.5px solid #6e6e6e;
    background: #e2e8f0;
    font-size: 1.6rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
.round:active{
    border-radius: 30%;
    border: 3.5px solid #6e6e6e;
    background: #e2e8f0;
    font-size: 1.6rem;
    height: 3rem;
    color: #3e5181;
    width: 3rem;
    cursor: pointer;
}
.mh-100{
    min-height: 100% !important;
}
.border-light{
    border: 1px solid black;
}
.border-dark{
    border: 1px solid white;
}
table {
    border-collapse: collapse;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sideSearchTab {
    z-index: 150;
    transition: all 0.3s;
    min-width: 90vw;
    max-width: 90vw;
    min-height: 100vh;
}

#sideSearchTab.active {
    margin-left: calc(-90vw + 0px);
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sideSearchTab {
        margin-left: 300px;
    }
    #sideSearchTab.active {
        margin-left: calc(-80vw + 0px);
    }
}

a::selection {
    background: #c999ff;
}
a::-moz-selection {
    background: #c999ff;
}

button::selection {
    background: #c999ff;
}
button::-moz-selection {
    background: #c999ff;
}

th::selection {
    background: #c999ff;
}
th::-moz-selection {
    background: #c999ff;
}

.bg-grey-light {
    background-color: #d2d2d2;
}

.bg-grey-lighter {
    background-color: #eaeaea;
}

.chat-bulle-them {
    font-size: 17px;
    padding: 6px 10px;
    margin: 6px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: inline-block;
    background-color: #74a6f6;
}

.chat-bulle-me{
    font-size: 17px;
    padding: 6px 10px;
    margin: 6px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: inline-block;
    background-color: #be7afc;
}

.chat-bulle-me p,.chat-bulle-them p {
    margin-bottom: 0;
}

.convers-bubble {
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    transition: all 0.3S;
}

.convers-bubble:hover {
    border-radius: 32%;
    border: 2px solid #6d3894;
}

mh-100 {
    min-height:100% !important;
}

.max-height-80 {
    max-height: 80% !important;
}

.project-bubble{
    background-color: #eebaff75;
    padding: 3px 6px;
    border-radius: 15px;
    transition: all 0.3s;
}

.project-bubble:hover{
    background-color: #eebaff90;
    padding: 5px 8px;
    border-radius: 10px;
}
/*Urgent*/
.urgentTicket {
    float: right;
    height: 20px;
    width: 20px;
    background-color: #ff464690;
    border-radius: 15px;
    transition: all 0.4s;
    color: white;
}

.urgentTicket:hover {
    height: 30px;
    width: 73px;
    padding: 4px 7px;
    background-color: rgba(255, 0, 0, 0.56);
    border-radius: 10px;
}
.textState{
    white-space: nowrap;
    visibility:hidden;
}
.urgentTicket:hover .textState {
    visibility:visible;
}
.urgentBorder:hover {
    border: 1px solid #ff4646;
}

/*Todo*/

.todoTicket {
    float: right;
    height: 20px;
    width: 20px;
    background-color: #5dff5790;
    border-radius: 15px;
    transition: all 0.4s;
    color: black;
}

.todoTicket:hover {
    height: 30px;
    width: 73px;
    padding: 4px 7px;
    background-color: rgba(9, 255, 0, 0.56);
    border-radius: 10px;
}
.todoTicket:hover .textState {
    visibility:visible;
}
.todoBorder:hover {
    border: 1px solid #5dff57;
}
/*warningTicket*/

.warningTicket {
    float: right;
    height: 20px;
    width: 20px;
    background-color: #eea05790;
    border-radius: 15px;
    transition: all 0.4s;
    color: black;
}

.warningTicket:hover {
    height: 30px;
    width: 90px;
    padding: 4px 7px;
    background-color: #ff8300;
    border-radius: 10px;
}
.warningTicket:hover .textState {
    visibility:visible;
}
.warningBorder:hover {
    border: 1px solid #eea057;
}
/*infoTicket*/

.infoTicket {
    float: right;
    height: 20px;
    width: 20px;
    background-color: #73f0fd90;
    border-radius: 15px;
    transition: all 0.4s;
    color: black;
}

.infoTicket:hover {
    height: 30px;
    width: 180px;
    padding: 4px 7px;
    background-color: rgba(0, 232, 252, 0.56);
    border-radius: 10px;
}
.infoTicket:hover .textState {
    visibility:visible;
}
.infoBorder:hover {
    border: 1px solid #73f0fd;
}
.animate{
    transition: all 0.7s;
}

fieldset{
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #f3f3f3;
}
fieldset:hover{
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #eeeeee;
}

.ghost {
    background-color: #8e69c6;
    opacity: 0.6;
}

.handle{
    float:right;
    padding-top: 15px;
}

.iziToast.iziToast-animateInside .iziToast-buttons-child, .iziToast.iziToast-animateInside .iziToast-icon, .iziToast.iziToast-animateInside .iziToast-inputs-child, .iziToast.iziToast-animateInside .iziToast-message, .iziToast.iziToast-animateInside .iziToast-title {
    opacity: 1;
}

.ct-font {
    font-family: 'Montserrat', sans-serif;
}
.light-font-weight {
    font-weight: 200;
}
.btn-primary {
    color: #fff;
    background-color: rgb(75,60,98);
    border-color: rgb(75,60,98);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #3C2F4CFF;
    border-color: #3C2F4CFF;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #706083;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3C2F4CFF;
    border-color: #3C2F4CFF;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #3C2F4CFF;
    border-color: #3C2F4CFF;
    box-shadow: 0 0 0 .2rem #3C2F4C55;
}

.btn-custom-cancel {
    color: #fff;
    background-color: rgb(115, 48, 76);
    border-color: rgb(115, 48, 76);
}
.btn-custom-cancel:hover, .btn-custom-cancel:active, .btn-custom-cancel:focus {
    color: #fff;
    background-color: rgb(114, 5, 62);
    border-color: rgb(114, 5, 62);
}
.btn-custom-cancel:not(:disabled):not(.disabled).active:focus, .btn-custom-cancel:not(:disabled):not(.disabled):active:focus, .show>.btn-custom-cancel.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(114, 5, 62);
}
.btn-custom-cancel:not(:disabled):not(.disabled).active, .btn-custom-cancel:not(:disabled):not(.disabled):active, .show>.btn-custom-cancel.dropdown-toggle {
    color: #fff;
    background-color: rgb(114, 5, 62);
    border-color: rgb(114, 5, 62);
}
.btn-custom-cancel.focus, .btn-custom-cancel:focus {
    color: #fff;
    background-color: rgb(114, 5, 62);
    border-color: rgb(114, 5, 62);
    box-shadow: 0 0 0 .2rem rgb(114, 5, 62);
}
.capitalize {
    text-transform: uppercase;
}

td a, td a:visited, td a:hover, td a:focus, td a:active {
    text-decoration: none;
    color: white;
}

.alert-dark {
    color: #c4c4c4;
    background-color: #33333b;
    border-color: #33333b;
}

.square {
    height: 25px;
    width: 25px;
    display: block;
    margin: auto;
    background-color: #1a202c;
    border: 1px solid #5c636a;
}

.square-checked {
    height: 25px;
    width: 25px;
    display: block;
    margin: auto;
    -webkit-box-shadow:2px 2px 2px 2px #5F487A;
    box-shadow: 2px 2px 2px 2px #5F487A;
    background-color: #1a202c;
    border: 1px solid #31113c;
}
.square-checked::after {
    content: "X";
}

.text-cut {
    text-decoration: line-through;
}
